body {
    font-family: 'PT Sans', "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    -webkit-font-smoothing: antialiased;

}

.toolbar > .form-control {
    width: auto;
}

th > a > .glyphicon {
    margin-bottom: 10px;
}

.overflow-ellipsis {
    overflow: hidden;
}

.top-field {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.bottom-field {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-action {
    background-color: #3E4650;
}
