
/*h1, h2, h3, h4, h5, h6 {*/
    /*color: #555;*/
    /*text-shadow: 0 0px 0px;*/
/*}*/



.side-bar {
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.side-bar form {
    display: block;
}

.side-bar-lending {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}

.side-bar-returning {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}

.admin-function {
    margin-top: 5px;
}

.admin-function .glyphicon {
    font-size: 42px;
}

.admin-function a {
    /*color: #102372;*/
}

.admin-function a:hover {
    text-decoration: none;
}

.admin-function .badge {
    background-color: #CE0002;
    position: relative;
    top: -96px;
    left: 24px;
    border-style: solid;
    border-width: 2px;
}

.banner {
    margin-bottom: 12px;
}

.banner h3 {
    margin-top: 10px;
}

.btn-wizard {
    width: 108px;
}

.btn-full {
    width: 100%;
}

.cover-image {

}

.cover-image-small {
    height:120px;
    max-width: 85px;
}

.cover-image-medium {
    height:327px;
}

.item-preview {
    overflow-y: hidden;
    height: 200px;
    margin-bottom-bottom: 20px;
}

.item-preview a:hover{
    text-decoration: none;
}