extends ../email-layout
block head
  title Your Library SignUp Request

block body
  div.emailbody
    p Your request to join The Library has been approved!
    p Now all you need to do is visit the library bring with you proof of Id. After having your photo taken,
      | you will be issued with your library card. You will need to bring this with you whenever you want to
      | take something out from the library.
    case locals.role.value
      when 'st'
        p As you are a student, please bring your journal as proof of Id.
      when 'ts'
        p As you are on staff, please bring your union card as proof of Id.
      default
        p Please bring photographic Id, such as your driving licence or passport, as proof of Id.
    p Just a reminder, as per the Terms and Coniditions you agreed to, this data may be shared with our partners.



