extends ../email-layout
block head
  title Your Library SignUp Request

block body
  div.emailbody
    p Your request to join The Library has been approved!
    p Now all you need to do is visit the library bring with you proof of Id. After having your photo taken,
      | you will be issued with your library card. You will need to bring this with you whenever you want to
      | take something out from the library.
    p Please bring Id with you (e.g. your journal).
    p Just a reminder, as per the Terms and Conditions you agreed to, this data may be shared with our partners.



