extends ../email-layout
block head
  title Your Library SignUp Request

block body
  p Thank you for requesting to sign up to The Library.
  p Unfortunately, we have not been able to grant your request at this time.
    | If you believe we have rejected your request by mistake, please feel free to visit us in person and we will
    | do our best to be of assistance.

