extends ../email-layout
block head
  title Library Password Reset

block body
  div.emailbody
    p You (or someone else) requested to reset your password to The Library on #{requestDate}.
    p If you follow the link below you will be able to personally reset your password.
    p
      a(href='#{resetLink}') #{resetLink}

    p This link is valid for the next 72 hours.

    p If you believe you have received this email by mistake, please accept our apologies and you need do nothing.
