extends user-layout
block head
  title 400 - Bad Request

block body
  div.row
    div.col-md-12
      h3 400 - Bad Request
      p Sorry, but there was something not quite right with the last request.

