extends user-layout

block head
  title 404 - Not Found

block body
  div.row
    div.col-md-12
      h3 404 - Not Found
      p Sorry, what you were looking for cannot be found.
                        