extends user-layout
block head
  title 500 - Internal Server Error

block body
  div.row
    div.col-md-12
      h3 500 - Internal Server Error
      p Sorry, but something has gone a little wrong.
      p The problem may only be temporary. Please try again shortly.

