extends user-layout
block head
  title Add ISBN Details
  // link(rel="stylesheet", href="styles/isbn.css")

block body
  div.row
    div.col-md-12
      h3 Add ISBN #{isbn}

block scripts
  // script(src="scripts/controllers/isbn.js")
