extends user-layout
block head
  title ISBN Details
  link(rel="stylesheet", href="styles/items.css")

  script.
    var ___isbn13 = '#{isbndetails.isbn13}';

block body
  div(ng-controller="ISBNController")
    div.row.item-block
      div.col-md-12
        img(src="/images/No Image-227x327.gif", alt="No Image")
        div
          // h3 {{Details.title | titlecase}} &nbsp;
          h3(ng-bind-html="Details.title | titlecase")
          p(ng-show="Details.author !== ''") by&nbsp;
            a(ng-href="/search?q={{Details.author}}") {{Details.author}}
          p {{Details.publisher}}
            span(ng-show="Details.edition !== ''")
              small &nbsp;- {{Details.edition}}
            span(ng-show="Details.edition ==='' && Details.physical !== ''")
              small &nbsp;- {{Details.physical}}
          p
            small
              strong ISBN-13:&nbsp;
              span {{Details.isbn13}}
              br
              strong ISBN-10:&nbsp;
              span {{Details.isbn10}}

          p(ng-show="Details.stock_codes.length > 1")
            small.label.label-info {{Details.stock_codes.length}} copies in library
          p(ng-show="Details.stock_codes.length === 1")
            small.label.label-info 1 copy in library
          p(ng-show="Details.stock_codes.length === 0")
            small.label.label-danger The library does not own this item

          p
            small(bs-tooltip='Details.added | stdDateTime', data-placement='bottom') Details add to library {{Details.added | fromNow}}

          //-
          //- Useful admin only function to look at the raw data used to format this page
          //- Note that the browser will display the data from the /api/search/isbn/:isbn path,
          //- and not any client side transformations that MAY have been carried out
          //-

          if (userlevel > 100)
            p
              small
                a(ng-href="/api/search/isbn/{{Details.isbn13}}", target="_Blank") View raw data

    div.row
      div.col-md-12
        div(ng-show="Details.summary !== ''")
          h4 Summary
          p(ng-bind-html="Details.summary")




block scripts
  script(src="scripts/controllers/isbn.js")
