extends user-layout
block head
  title Lost Password

block body
  //div.row
  //  div.col-md-3
  //    h1 TEST

  div.row
    div.col-md-3

    div.col-md-6.center-block(ng-controller="LostPasswordController")

      div(ng-show="Mode === 'start'")
        h3.text-center Lost Your Password?
        p.text-center Enter either your membership number or registered email address
        form(role="form", name="LostPasswordForm")
          div.form-group
            input#key.form-control(autofocus, type="text", ng-model="Key", placeholder="Your registered email address or membership number")
          div
            button.btn.btn-primary.btn-full(ng-click="OnResetPassword()" ng-disabled="!CanSubmit()") Reset Password

      div(ng-show="Mode === 'notfound'")
        h3.text-center Details Not Found
        div.alert.alert-danger
          p.text-center No account can be found with the details you entered.
        div
          button.btn.btn-primary.btn-full(ng-click="OnTryAgain()") Try Again

      div(ng-show="Mode === 'success'")
        h3.text-center Your Password Reset Request
        div.alert.alert-success
          p Your password reset request has been received and processed. You will receive an email with further instructions shortly.

    div.col-md-3

block scripts
  script(src="scripts/controllers/lostpassword.js")
