extends user-layout
block head
  title Reset Password

  script.
    var ___id = '#{sid}';

block body
  div.row
    div.col-md-3

    div.col-md-6(ng-controller="ResetPasswordController")

      h3.text-center Reset Your Password

      div(ng-show="Mode === 'reset'")

        p Your new password must be between 8 and 20 characters long and contain:
          ul
            li at least one uppercase letter
            li at least one lowercase letter
            li at least one number
            li at least one character from the set:&nbsp;
              strong ! @ # $ % ^ & * ( ) _ +

        form(role="form", name="ResetPasswordForm")

          div(ng-show="ShowPassword")
            div.form-group
              input#password1x.form-control(autofocus, type="text", ng-model="Password1", placeholder="Your new password")
            div.form-group
              input#password2x.form-control(type="text", ng-model="Password2", placeholder="Your new password again")
            div.form-group
              a(ng-click="ShowHidePassword()")
                small Hide password

          div(ng-show="!ShowPassword")
            div.form-group
              input#password1.form-control(autofocus, type="password", ng-model="Password1", placeholder="Your new password")
            div.form-group
              input#password2.form-control(type="password", ng-model="Password2", placeholder="Your new password again")
            div.form-group
              a(ng-click="ShowHidePassword()")
                small Show password
          div
            button.btn.btn-primary.btn-full(ng-click="OnResetPassword()" ng-disabled="!CanSubmit()") Reset Password

      div(ng-show="Mode === 'success'")
        div.alert.alert-success
          p Your password has been changed. You now need to login using your new password.

    div.col-md-3

block scripts
  script(src="scripts/controllers/passwordreset.js")