extends user-layout

block head
  title Sign Up
  link(rel="stylesheet", href="styles/signup.css")

block body
  div(ng-controller="SignUpController" ng-cloak)

    div#error-email.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Sorry {{FirstName | titlecase}}, there's a problem
          div.modal-body
            p
              | The email address&nbsp;
              strong {{Email1 | lowercase}}
              | &nbsp;has already been used.
            p Please supply a different email address and try again.
          div.modal-footer
            button.btn.btn-primary(type="button" ng-click="OnContinueAfterEmailError()") Continue...

    div#error.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Sorry {{FirstName | titlecase}}, there seems to be a problem
          div.modal-body
            p Your request to sign up couldn't be processed right now. The problem may only be temporary.
            p Please try again later.
          div.modal-footer
            button.btn.btn-primary(type="button" ng-click="OnTryAgain()") Continue...

    div#success.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Thank you {{FirstName | titlecase}}
          div.modal-body
            p Your request to join has been received and will be reviewed.
            p Once it has been approved, you will receive an email at {{Email1}} with further instructions.
          div.modal-footer
            button.btn.btn-primary(type="button" ng-click="OnSuccess()") Continue...

    div
      form.form-signin(role="form" name="SignUpForm" ng-submit="OnSubmit()")
        h2.form-signin-heading Please fill out all the boxes
        div#name-group.form-group
          input#firstname.form-control.top-field(type="text", placeholder="Your first name", ng-model="FirstName", maxlength="50", required, autofocus)
          input#lastname.form-control.bottom-field(type="text", placeholder="Your last name", ng-model="LastName", maxlength="50", required)
        div#mobile-group.form-group(ng-class="{'has-error': isBadMobile()}")
          input#email1.form-control.top-field(type="text",  placeholder="Mobile phone number (08nnnnnnnn)", ng-model="Mobile1", required)
          input#email2.form-control.bottom-field(type="text", placeholder="Confirm mobile phone number", ng-model="Mobile2", required)
        div#email-group.form-group(ng-class="{'has-error': isBadEmail()}")
          input#email1.form-control.top-field(type="email", placeholder="Email address", ng-model="Email1", required)
          input#email2.form-control.bottom-field(type="email", placeholder="Confirm email address", ng-model="Email2", required)
        p Your password must be between 8 and 20 characters long and contain:
          ul
            li at least one uppercase letter
            li at least one lowercase letter
            li at least one number
            li at least one character from the set:&nbsp;
              strong ! @ # $ % ^ & * ( ) _ +
        div(ng-show="ShowPassword")
          div#password-group.form-group(ng-class="{'has-error': isBadPassword()}")
            input#password1.form-control.top-field(type="text", placeholder="Password", ng-model="Password1", maxlength="20", minlength="8", required)
            input#password2.form-control.bottom-field(type="text", placeholder="Confirm password", ng-model="Password2", required)
            a(ng-click="ShowHidePassword()")
              small Hide password
        div(ng-show="!ShowPassword")
          div#password-group.form-group(ng-class="{'has-error': isBadPassword()}")
            input.form-control.top-field(type="password", placeholder="Password", ng-model="Password1", maxlength="20", minlength="8", required)
            input.form-control.bottom-field(type="password", placeholder="Confirm password", ng-model="Password2", required)
            a(ng-click="ShowHidePassword()")
              small Show password
        div.form-group
          label(for="RoleType") I am&nbsp;
            select#RoleType.form-control(ng-model="Type", ng-options="o.option for o in Types")
              option -- Please select --
        span(ng-show="Type.value==='na'") &nbsp;&nbsp;
          input#other(type="text", placeholder="Please describe", ng-model="Other")
        label.checkbox &nbsp;I will respect the Library's property
          input#respect.checkbox-inline(type="checkbox", ng-checked="AgreeRespect", ng-model="AgreeRespect")
        label.checkbox &nbsp;I consent to having my photograph taken&nbsp;
          small.text-muted (This will not be shared with any other party)
          input#photo.checkbox-inline(type="checkbox", ng-checked="AgreePhoto", ng-model="AgreePhoto")
        label.checkbox &nbsp;I have read and agree to the &nbsp;
          a Full Terms & Conditions
          input#agreetnc.checkbox-inline(type="checkbox", ng-checked="AgreeTnC", ng-model="AgreeTnC")
        button#submit.btn.btn-lg.btn-primary.btn-block(type="submit" ng-disabled="!CanSubmit()") Register now

block scripts
  script(src="scripts/controllers/signup.js")