extends user-layout
block head
  title Stock Item Details
  link(rel="stylesheet", href="styles/stock.css")

block body
  h1 Stock Item Details



block scripts
  script(src="scripts/controllers/stock.js")
