extends user-layout

block head
  title Add Stock Item
  script.
    var ___id = '#{stockid}',
        ___ret = '#{returnid}';


block body
  div(ng-controller="StockAddController", ng-cloak)
    div.row
      div.col-md-3
      div.col-md-6
        h3.text-center Add Stock Item \#{{StockCode}}
      div.col-md-3

    div.row(ng-show="Details === null")
      div.col-md-3
      div.col-md-6
        form(role="form", name="ISBNCapture" ng-submit="OnISBN()")
          div.form-group(ng-class="{'has-error': IsBadISBN(ISBN)}")
            input(type="submit", style="position: absolute; left: -9999px; width: 1px; height: 1px;")
            input#isbnNumber.form-control(low, type="text" ng-model="ISBN" placeholder="Scan/type the ISBN number")
      div.col-md-3

    div.row(ng-show="Details !== null" ng-cloak)
      div.col-md-3
      div.col-md-6
        div(ng-show="Details !== ''")
          h4.text-center Details for {{ISBN}} could not be found
          p.text-center Please enter the details below

        form(role="form", name="DetailCapture", ng-submit="OnDetails()")
          div.form-group
            input#title.form-control(autofocus, type="text", ng-model="Details.title", placeholder="The item's title")
          div.form-group
            input#author.form-control(type="text", ng-model="Details.author", placeholder="The author's name")
          div.form-group
            input#publisher.form-control(type="text", ng-model="Details.publisher_name", placeholder="The publisher")
          div.form-group
            textarea#summary.form-control(rows="4", ng-model="Details.summary", placeholder="Optional summary text for the item")
          div
            button.btn.btn-primary.btn-full(ng-click="OnAddItem(true)" ng-disabled="!CanSubmit()") Add Stock

block scripts
  script(src='scripts/controllers/stock-add.js')