extends user-layout
block head
  title Stock Details
  link(rel="stylesheet", href="styles/items.css")
  style.
    #return {
      margin-top: 5px;
      margin-bottom: 20px;
      height: 80px;

    }
    #renew {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    #memberid {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
  script.
    var ___isbn13 = '#{details.isbn13}',
        ___stockCode = '#{details.stockCode}',
        ___returnDate = '#{details.returnDate}';

block body
  div(ng-controller="StockController")
    div.row.item-block
      div.col-md-8
        img.center-block.cover-image.cover-image-medium(ng-src="/covers/{{Details.isbn13}}", alt="No Image")
        div
          h3 \#{{StockCode}}
          h4(ng-bind-html="Details.title | titlecase")
          p(ng-show="Details.author !== ''") by&nbsp;
            a(ng-href="/search?q={{Details.author}}") {{Details.author}}
          p
            small
              strong ISBN-13:&nbsp;
              a(ng-href="/isbn?sid={{Details.isbn13}}") {{Details.isbn13}}
          p
            small(bs-tooltip='Details.added | stdDateTime', data-placement='bottom') Item add to library {{Details.added | fromNow}}

          //-
          //- Useful admin only function to look at the raw data used to format this page
          //-

          if (userlevel > 100)
            p
              small
                a(ng-href="/api/search/isbn/{{Details.isbn13}}", target="_Blank") View raw data


      //-
      //- Only show on the admin pages.
      //-

      if (userlevel > 100)
        div(ng-controller="LendingController")
          if (!details.onLoan)

            //
            //- The item can be loaned out
            //

            div.col-md-4
              div.side-bar.side-bar-lending
                div.input-group
                  form
                    span
                      h3 To lend this item
                      span Scan or enter the membership ID
                      input#memberid.form-control(low, type="text", placeholder="Membership ID", ng-model="MembershipId", ng-change="OnLend()")
                    p
                      small Item will be due back&nbsp;
                        b {{ReturnDate | stdDate}}

          else

            //
            //- The item is on loan and can either be returned or renewed
            //

            div.col-md-4
              div.side-bar.side-bar-returning
                h3 To return this item
                span Touch or click the Return button
                button#return.btn.btn-primary.form-control(type="button", ng-click="OnReturn()") Return
                h3 To renew this item
                span Touch or click the Renew button
                button#renew.btn.btn-info.form-control(type="button", ng-click="OnRenew()") Renew
                span
                  small Item will be due back&nbsp;
                    b {{ReturnDate | stdDate}}

block scripts
  script(src="scripts/controllers/stock.js")
  if (userlevel > 100)
    script(src="scripts/controllers/lending.js")
