extends user-layout

block body
  if (userlevel >= 100)

    script.
      ___returnDate = '#{returnDate}'

    div(ng-controller="AdminHomeController")

      div.row.banner
        div.col-sm-12.col-md-12.col-lg-12
          div.text-center.alert.alert-info(style="padding-top:8px;padding-bottom:8px;margin-bottom:15px")
            h3.text-info Today's return date is&nbsp;
              strong {{ReturnDate | fullDate}}

      div.repeat-item(ng-repeat="s in Sections")
        div.row.admin-function
          div.col-md-12
            h3 {{s.name}}
          div.row.admin-function
            div.col-md-2.col-sm-2.col-xs-6(ng-repeat="f in s.functions")
              div.center-block.text-center
                a(ng-href="{{f.link}}")
                  span.glyphicon(ng-class="f.icon")
                  h4 {{f.name}}&nbsp;
                  span.badge(ng-show="f.count() > 0") {{f.count()}}

  else

    div(ng-controller="HomePageController")

      //- Recently added items to the library

      div#recentlyAdded
        div.row
          div.col-md-12
            h4 Recently added to the library

        div.row
          div.col.md-3
            div(ng-switch="RecentlyAdded.length === 0")
              div.switch-item(ng-switch-when="true")
                loading.center-block
              div.switch-item(ng-switch-when="false")
                div.col-md-3.col-lg-2(ng-repeat="item in RecentlyAdded | limitTo : 12")
                  div.item-preview
                    a.text-center(ng-href="/isbn?sid={{item.isbn}}")
                      img.center-block.cover-image.cover-image-small(ng-src="/covers/{{item.isbn}}", alt="No Image")
                      h5 {{item.search_title | titlecase}}
                        br
                        small {{item.search_author}}
              div

block scripts
  if (userlevel >= 100)
    script(src='scripts/controllers/admin-homepage.js')
  else
    script(src='scripts/controllers/homepage.js')
